<!DOCTYPE html>
    <head>
        <title>welcome to blog</title>
    </head>
    <body>
        <form action = "../cancer.html" method = "get">
        <div>
            
            <label for = 'username' name = 'email'>Email id</label>
            <br>
            
            <input type = "emai"  placeholder = 'abc@example.com'   id = 'username' required>
            
        
        </div>
        <div>
            <label>Country</label>
            <input type = "country"  name = "India" value = "India" disabled>
        </div>
        <div > 
            <br>
            <label>Gender </label>
            <br>
            <input type = 'radio' name = "gender" value = "male"  checked> male<br>
            <input type = 'radio' name = "gender"  value = "female" > female<br>
            <input type= 'radio ' name = 'name' value = 'gender' > other<br>

        </div>
        <div>
            <br>
            <label>work</label><br>
            <input type = 'checkbox' value = "doctor"  name = "work">doctor<br>
            <input type = 'checkbox' value = "specilist" name = 'work' >specilist<br>
            <input type = 'checkbox' value = "other"  placeholder= 'please specifiy '> <input type = 'text'><br>

        </div>
        <div>
        <p>Intersets</p>
        <select name = 'interset' mutliple>
            <option>science</option>
            <option>social aspects</option>
        </select>
        <br>
        </div>
        <div>
            <br>
            <label for="password">Password </label><br>
            
                <input type="password"  id = "password" required>
            
        </div>
        <br>
        <br>
        <input type = "submit">
    

        <button type = "button" > Cancel<br>
            
        </button>
    </form>
    
    </body>
</html>